
@import "@wordpress/block-library/build-style/common.css";
@import "@wordpress/block-library/build-style/style.css";
@import "@wordpress/block-library/build-style/theme.css";

/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    font-family: "Source Sans Pro", sans-serif;
}

.content-wrap p {
    margin: 1.5rem 0;
}

.wp-block-gallery .blocks-gallery-image img, .wp-block-gallery .blocks-gallery-item img, .blocks-gallery-grid .blocks-gallery-image img, .blocks-gallery-grid .blocks-gallery-item img {
    border-radius: 0.5rem;
    color: inherit;
}

.paragraph p {
    margin: 1rem 0;
}

.wp-block-image img {
    margin: auto;
    border-radius: 0.5rem !important;
}

.wp-block-embed iframe {
    margin: auto;
}

.wp-block-media-text {
    margin: 2rem 0;
}

.wp-block-media-text__media img {
    border-radius: 1rem;
}

.wp-block-media-text__content h4 {
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    font-size: 1.8rem;
    margin-bottom: 1rem;
}

.wp-block-media-text__content  p {
    font-size: 1.15rem;
}

.half-width {
    width: 50%;
}

.wp-block-media-text__media video {
    border-radius: 1rem;
}

.half-width h2 {
    font-size: 3rem;
    line-height: 1.2;
    font-family: "Ubuntu", sans-serif;
    margin-bottom: 2rem;
}

.half-width p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
    line-height: 1.8;
}

.full-width-img {
    width: 100vw;
    position: relative;
    margin-left: -50vw;
    margin-right: -50vw;
    left: 50%;
    right: 50%;
    transform: translateX(-9px);
}

.full-width-img img {
    border-radius: 0 !important;
    width: 100%;
    height: auto;
}

.has-large-font-size {
    font-size: 3rem;
}

@media screen and (max-width: 1024px) {
    .half-width {
        width: 100%;
        padding: 0 15px;
    }

    .half-width h2 {
        line-height: 1.05;
    }

    .wp-block-media-text__media img {
        border-radius: 0;
        margin-bottom: 1.5rem;
    }

    .wp-block-media-text__content h4 {
        line-height: 1.2;
    }

    .wp-block-media-text .wp-block-media-text__content {
        padding: 0 1rem !important;
    }
}